html {
  font: normal 14px / 20px 'roboto_regular', Helvetica, Arial, sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  background: #ffffff;
  color: #444444;
}
.top__img {
  width: 100%;
  height: 450px;
  background: url('../img/top.jpg') center center no-repeat;
  background-size: cover;
}
.top__title {
  font-size: 48px;
  color: #FEFEFE;
}
.top__subtitle {
  font-size: 28px;
  color: #FEFEFE;
}
.product__img-thumb {
  width: 80px;
  height: 80px;
}