html {
  font: normal 14px / 20px 'roboto-regular', Helvetica, Arial, sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  background: #ffffff;
  color: #444444;
}
.top__img {
  width: 100%;
  height: 450px;
  background: url('../img/top.jpg') center center no-repeat;
  background-size: cover;
}
.top__title {
  font-size: 48px;
  line-height: 1.2;
  color: #FEFEFE;
}
.top__subtitle {
  font-size: 28px;
  line-height: 1.2;
  color: #FEFEFE;
}
.product__img-thumb {
  width: 80px;
  height: 80px;
}
.footer {
  // background-color: #ECF9FF;
  height: 70px;
  line-height: 70px;
  padding-right: 25px;
}
.footer__company {
  font: normal 36px/70px 'helvetica_neue_cyr-medium';
}