html {
  font: normal 14px / 20px 'roboto-regular', Helvetica, Arial, sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  background: #ffffff;
  color: #444444;
}
.menu {
    margin: 18px 0px;
}
.menu__title {
  font-size: 28px;
  font-weight: bold;
}
.menu__nav {
  // padding-top: 2px;
  line-height: 1.5;
}
.menu__nav-item {
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}
@media (max-width: 767px) {
  .menu__nav, .menu__phone {
    padding-top: 10px;
  }
  .menu__nav-item {
    font-size: 14px;
  }
}
.top__img {
  width: 100%;
  height: 450px;
  background: url('../img/top.jpg') center center no-repeat;
  background-size: cover;
}
.top__title {
  font-size: 48px;
  line-height: 1.2;
  color: #FEFEFE;
}
.top__subtitle {
  font-size: 28px;
  line-height: 1.2;
  color: #FEFEFE;
}
.product__img-thumb {
  width: 80px;
  height: 80px;
}
@media (max-width: 375px) {
  .product__img-thumb {
    width: 60px;
    height: 60px;
  }
}
.delivery {
  font-size: 16px;
  line-height: 1.5;
}
.map {
  margin: 36px auto;
}
.footer {
  background-color: #ECF9FF;
  height: auto;
  padding: 16px 28px 16px 0px;
  margin-left: 0px;
}
.footer__promotext {
  padding-top: 14px;
}
.footer__company {
  font: normal 36px 'helvetica_neue_cyr-medium';
}
@media (max-width: 768px) {
  .footer__company {
    padding-top: 14px;
  }
}
.footer__copyright {
  padding-top: 14px;
}

.order_mdlform-title {
  font-size: 18px;
  text-transform: uppercase;
  margin: 18px auto 28px !important;
}
.order_mdlform-control {
  width: calc(100% - 40px);
}
.thanks__text {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}