-var pageTitle = "Гироскутеры TeslaToys заказать доставка"

doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        //- meta(name='yandex-verification' content='672bbf7ed8b0d929')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        meta(name='description' content='Заказать в кафе Сиеста пицца Нахабино доставка еды заказать')
        title= pageTitle
        link(rel="stylesheet" href="libs/uikit/uikit.css")
        link(rel="stylesheet" href="css/style.css")
        //[if lt IE 9]>
            <script src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js'></script> <![endif]
    body
        .uk-grid(data-uk-grid-margin)
            .uk-width-1-1
                img(src='img/top.jpg' alt='Гироскутеры TeslaToys' width='100%')
        .uk-container.uk-container-center.uk-margin-top.uk-margin-large-bottom
            .uk-grid(data-uk-grid-margin)
                .uk-width-1-1.uk-text-center
                    h1.uk-heading-large Здесь можно заказать гироскутеры TeslaToys
                    p.uk-text-large Некоторый текст про гироскутеры
            
            hr.uk-grid-divider
            //- First product unit
            .uk-grid(data-uk-grid-margin)
                .uk-width-medium-1-2
                    img(src='img/BD-S006/BD-S006-black.jpg' alt='Гироскутеры TeslaToys BD-S006' width='680' height='400')
                    .uk-grid(data-uk-grid-margin)
                        .uk-margin-small-top.uk-container-center
                            ul.uk-thumbnav
                                li
                                    a(href='javascript:void(0);')
                                        img(src="img/BD-S006/BD-S006-thumb-black.jpg", alt="")
                                li.uk-margin-small-left.uk-margin-small-right
                                    a(href='javascript:void(0);')
                                        img(src="img/BD-S006/BD-S006-thumb-white.jpg", alt="")
                                li.uk-margin-small-left.uk-margin-small-right
                                    a(href='javascript:void(0);')
                                        img(src="img/BD-S006/BD-S006-thumb-gold.jpg", alt="")
                                li
                                    a(href='javascript:void(0);')
                                        img(src="img/BD-S006/BD-S006-thumb-red.jpg", alt="")
                .uk-width-medium-1-2
                    h2.uk-text-bold Модель BD-S006
                    p.uk-text-large Цена 22 900 рублей
                    h3.uk-text-bold Технические характеристики гироскутера BD-S006
                    dl
                        dt.uk-margin-small-top Размеры:
                            dd Высота 178 мм, длина 584 мм, ширина 185 мм
                        dt.uk-margin-small-top Диаметр колес:
                            dd 6.5 дюймов
                        dt.uk-margin-small-top Вес:
                            dd 12 кг
                        dt.uk-margin-small-top Время зарядки:
                            dd 2 &ndash; 3 часа
                        dt.uk-margin-small-top Максимальная скорость:
                            dd 14 км/ч
                        dt.uk-margin-small-top Батарея:
                            dd Li&ndash;On Samsung
                        dt.uk-margin-small-top Цвет:
                            dd черный, белый, золото, красный
                    a.uk-button.uk-button-large.uk-button-primary(href="#") Заказать
            
            hr.uk-grid-divider
            //- Second product unit
            .uk-grid(data-uk-grid-margin)
                .uk-width-medium-1-2
                    img(src='img/BD-S006B/BD-S006B-blue.jpg' alt='Гироскутеры TeslaToys BD-S006' width='680' height='400')
                    .uk-grid(data-uk-grid-margin)
                        .uk-margin-small-top.uk-container-center
                            ul.uk-thumbnav
                                li
                                    a(href='javascript:void(0);')
                                        img(src="img/BD-S006B/BD-S006B-thumb-blue.jpg", alt="")
                                li.uk-margin-small-left.uk-margin-small-right
                                    a(href='javascript:void(0);')
                                        img(src="img/BD-S006B/BD-S006B-thumb-blue2.jpg", alt="")
                                //- li.uk-margin-small-left.uk-margin-small-right
                                //-     a(href='javascript:void(0);')
                                //-         img(src="img/BD-S006/BD-S006-thumb-gold.jpg", alt="")
                                //- li
                                //-     a(href='javascript:void(0);')
                                //-         img(src="img/BD-S006/BD-S006-thumb-red.jpg", alt="")
                .uk-width-medium-1-2
                    h2.uk-text-bold Модель BD-S006B
                    p.uk-text-large Цена 24 900 рублей
                    h3.uk-text-bold Технические характеристики гироскутера BD-S006B
                    dl
                        dt.uk-margin-small-top Размеры:
                            dd Высота 186 мм, длина 600 мм, ширина 185 мм
                        dt.uk-margin-small-top Диаметр колес:
                            dd 6.5 дюймов
                        dt.uk-margin-small-top Вес:
                            dd 12 кг
                        dt.uk-margin-small-top Время зарядки:
                            dd 2 &ndash; 3 часа
                        dt.uk-margin-small-top Максимальная скорость:
                            dd 14 км/ч, Bluetooth
                        dt.uk-margin-small-top Батарея:
                            dd Li&ndash;On Samsung
                        dt.uk-margin-small-top Цвет:
                            dd синий+черный
                    a.uk-button.uk-button-large.uk-button-primary(href="#") Заказать

            hr.uk-grid-divider
            //- Third product unit
            .uk-grid(data-uk-grid-margin)
                .uk-width-medium-1-2
                    img(src='img/BD-S006/BD-S006-black.jpg' alt='Гироскутеры TeslaToys BD-S006' width='680' height='400')
                    .uk-grid(data-uk-grid-margin)
                        .uk-margin-small-top.uk-container-center
                            ul.uk-thumbnav
                                li
                                    a(href='javascript:void(0);')
                                        img(src="img/BD-S006/BD-S006-thumb-black.jpg", alt="")
                                li.uk-margin-small-left.uk-margin-small-right
                                    a(href='javascript:void(0);')
                                        img(src="img/BD-S006/BD-S006-thumb-white.jpg", alt="")
                                //- li.uk-margin-small-left.uk-margin-small-right
                                //-     a(href='javascript:void(0);')
                                //-         img(src="img/BD-S006/BD-S006-thumb-gold.jpg", alt="")
                                //- li
                                //-     a(href='javascript:void(0);')
                                //-         img(src="img/BD-S006/BD-S006-thumb-red.jpg", alt="")
                .uk-width-medium-1-2
                    h2.uk-text-bold Модель BD-S007
                    p.uk-text-large Цена 27 900 рублей
                    h3.uk-text-bold Технические характеристики гироскутера BD-S007
                    dl
                        dt.uk-margin-small-top Размеры:
                            dd Высота 178 мм, длина 584 мм, ширина 185 мм
                        dt.uk-margin-small-top Диаметр колес:
                            dd 6.5 дюймов
                        dt.uk-margin-small-top Вес:
                            dd 13 кг
                        dt.uk-margin-small-top Время зарядки:
                            dd 2 &ndash; 3 часа
                        dt.uk-margin-small-top Максимальная скорость:
                            dd 14 км/ч
                        dt.uk-margin-small-top Батарея:
                            dd Li&ndash;On Samsung
                        dt.uk-margin-small-top Цвет:
                            dd черный+серебро, черный+синий, черный+красный, черный+оранжевый
                    a.uk-button.uk-button-large.uk-button-primary(href="#") Заказать

            hr.uk-grid-divider
            //- Fourth product unit
            .uk-grid(data-uk-grid-margin)
                .uk-width-medium-1-2
                    img(src='img/BD-S008/BD-S008_01.jpg' alt='Гироскутеры TeslaToys BD-S006' width='680' height='400')
                    .uk-grid(data-uk-grid-margin)
                        .uk-margin-small-top.uk-container-center
                            ul.uk-thumbnav
                                li
                                    a(href='javascript:void(0);')
                                        img(src="img/BD-S008/BD-S008-thumb_01.jpg", alt="")
                                //- li.uk-margin-small-left.uk-margin-small-right
                                //-     a(href='javascript:void(0);')
                                //-         img(src="img/BD-S006/BD-S006-thumb-white.jpg", alt="")
                                //- li.uk-margin-small-left.uk-margin-small-right
                                //-     a(href='javascript:void(0);')
                                //-         img(src="img/BD-S006/BD-S006-thumb-gold.jpg", alt="")
                                //- li
                                //-     a(href='javascript:void(0);')
                                //-         img(src="img/BD-S006/BD-S006-thumb-red.jpg", alt="")
                .uk-width-medium-1-2
                    h2.uk-text-bold Модель BD-S008
                    p.uk-text-large Цена 26 900 рублей
                    h3.uk-text-bold Технические характеристики гироскутера BD-S008
                    dl
                        dt.uk-margin-small-top Размеры:
                            dd Высота 178 мм, длина 584 мм, ширина 230 мм
                        dt.uk-margin-small-top Диаметр колес:
                            dd 8 дюймов
                        dt.uk-margin-small-top Вес:
                            dd 12 кг
                        dt.uk-margin-small-top Время зарядки:
                            dd 2 &ndash; 3 часа
                        dt.uk-margin-small-top Максимальная скорость:
                            dd 15 км/ч, Bluetooth
                        dt.uk-margin-small-top Батарея:
                            dd Li&ndash;On Samsung
                        dt.uk-margin-small-top Цвет:
                            dd черный+красный
                    a.uk-button.uk-button-large.uk-button-primary(href="#") Заказать

            hr.uk-grid-divider
            //- Fifth product unit
            .uk-grid(data-uk-grid-margin)
                .uk-width-medium-1-2
                    img(src='img/BD-S010/BD-S010-black.jpg' alt='Гироскутеры TeslaToys BD-S006' width='680' height='400')
                    .uk-grid(data-uk-grid-margin)
                        .uk-margin-small-top.uk-container-center
                            ul.uk-thumbnav
                                li
                                    a(href='javascript:void(0);')
                                        img(src="img/BD-S010/BD-S010-thumb-black.jpg", alt="")
                                li.uk-margin-small-left.uk-margin-small-right
                                    a(href='javascript:void(0);')
                                        img(src="img/BD-S010/BD-S010-thumb-red.jpg", alt="")
                                li
                                    a(href='javascript:void(0);')
                                        img(src="img/BD-S010/BD-S010-thumb-graffity.jpg", alt="")
                                //- li
                                //-     a(href='javascript:void(0);')
                                //-         img(src="img/BD-S006/BD-S006-thumb-red.jpg", alt="")
                .uk-width-medium-1-2
                    h2.uk-text-bold Модель BD-S010
                    p.uk-text-large Цена 27 900 рублей
                    h3.uk-text-bold Технические характеристики гироскутера BD-S010
                    dl
                        dt.uk-margin-small-top Размеры:
                            dd Высота 286 мм, длина 630 мм, ширина 286 мм
                        dt.uk-margin-small-top Вес:
                            dd 14 кг
                        dt.uk-margin-small-top Время зарядки:
                            dd 2 &ndash; 3 часа
                        dt.uk-margin-small-top Максимальная скорость:
                            dd 15 км/ч, Bluetooth
                        dt.uk-margin-small-top Батарея:
                            dd Li&ndash;On Samsung
                        dt.uk-margin-small-top Цвет:
                            dd черный, красный, граффити
                    a.uk-button.uk-button-large.uk-button-primary(href="#") Заказать

            hr.uk-grid-divider
            //- Sixth product unit
            .uk-grid(data-uk-grid-margin)
                .uk-width-medium-1-2
                    img(src='img/BD-S006/BD-S006-black.jpg' alt='Гироскутеры TeslaToys BD-S006' width='680' height='400')
                    .uk-grid(data-uk-grid-margin)
                        .uk-margin-small-top.uk-container-center
                            ul.uk-thumbnav
                                li
                                    a(href='javascript:void(0);')
                                        img(src="img/BD-S006/BD-S006-thumb-black.jpg", alt="")
                                li.uk-margin-small-left.uk-margin-small-right
                                    a(href='javascript:void(0);')
                                        img(src="img/BD-S006/BD-S006-thumb-white.jpg", alt="")
                                //- li.uk-margin-small-left.uk-margin-small-right
                                //-     a(href='javascript:void(0);')
                                //-         img(src="img/BD-S006/BD-S006-thumb-gold.jpg", alt="")
                                //- li
                                //-     a(href='javascript:void(0);')
                                //-         img(src="img/BD-S006/BD-S006-thumb-red.jpg", alt="")
                .uk-width-medium-1-2
                    h2.uk-text-bold Модель BD-S012
                    p.uk-text-large Цена 31 900 рублей
                    h3.uk-text-bold Технические характеристики гироскутера BD-S012
                    dl
                        dt.uk-margin-small-top Размеры:
                            dd Высота 282 мм, длина 820 мм, ширина 245 мм
                        dt.uk-margin-small-top Вес:
                            dd 12 кг
                        dt.uk-margin-small-top Время зарядки:
                            dd 2 &ndash; 3 часа
                        dt.uk-margin-small-top Максимальная скорость:
                            dd 20 км/ч, Bluetooth
                        dt.uk-margin-small-top Батарея:
                            dd Li&ndash;On Samsung
                        dt.uk-margin-small-top Цвет:
                            dd белый+синий
                    a.uk-button.uk-button-large.uk-button-primary(href="#") Заказать

        script(src="libs/jquery/jquery.js")
        script(src="libs/uikit/js_uikit/uikit.min.js")