-var pageTitle = "TeslaToys - гироскутеры заказать с доставкой"

doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name='yandex-verification' content='6efe569acb95401e')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        meta(name='description' content='Teslatoys Заказать гироскутеры с доставкой')
        title= pageTitle
        link(rel="stylesheet" href="libs/uikit/uikit.css")
        link(rel="stylesheet" href="libs/bxslider/bxslider.css")
        link(rel="stylesheet" href="css/style.css")
        //[if lt IE 9]>
            <script src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js'></script> <![endif]
    body
        //- .uk-modal#modal_order_form
            .uk-modal-dialog.uk-modal-dialog-medium
                a.uk-modal-close.uk-close
                .order_mdlform-title.uk-text-center Оформить заявку
                form(action="")
                    .uk-form
                        fieldset.uk-text-center
                            .uk-form-row
                                input.order_mdlform-control#name_orderform(type='text' name='name' placeholder='Введите Ваше имя')
                            .uk-form-row
                                input.order_mdlform-control#phone_orderform.phonemask(type='text' name='phone' placeholder='Введите Ваш телефон')
                            .uk-form-row
                                input.uk-button.uk-button-large.uk-button-primary(type="submit" value="Оставить заявку")
        
        .menu
            .uk-container.uk-container-center
                .uk-grid(data-uk-grid-margin)
                    .menu__title.uk-width-medium-1-4
                        img(src="img/logo.png" alt="Teslatoys - гироскутеры с доставкой")
                    .menu__nav.uk-width-medium-2-4.uk-hidden-small
                        .menu__nav-item
                            a(href='javascript:void(0);' onclick="myScrollTo('product_forscroll');") Гироскутеры
                        .menu__nav-item
                            a(href='javascript:void(0);' onclick="myScrollTo('delivery');") Доставка
                        .menu__nav-item
                            a(href='javascript:void(0);' onclick="myScrollTo('map');") Контакты
                    .menu__phone.uk-width-medium-1-4
                        span Закажите по телефону:
                        br
                        | 8 495 627-69-88


        .uk-container.uk-container-center
            .utp.uk-grid(data-uk-grid-margin)
                .uk-width-large-1-2.uk-width-medium-1-1.uk-width-small-1-1
                    .utp__img
                        img(src="img/utp_img.jpg" alt="Teslatoys - гироскутеры с доставкой")
                .uk-width-large-1-2.uk-width-medium-1-1.uk-width-small-1-1.utp__left
                    .utp__subtitle Оригинальные
                    .utp__title
                        | ГИРО
                        span СКУТЕРЫ
                    .utp__subtitle
                        | С доставкой
                        br
                        | по всей России
                    .utp__present.utp__present-first Батарея:
                        span.utp__present-batt &nbsp;Samsung
                    .utp__present Гарантия:
                        span.utp__present-guarbag &nbsp;1 год
                    .utp__present Сумка:
                        span.utp__present-guarbag &nbsp;В подарок



        .uk-container.uk-container-center.uk-margin-top.uk-margin-large-bottom
            .uk-grid(data-uk-grid-margin)
                .uk-width-1-1.uk-text-center
                    h1 Основные преимущества гироскутеров
                .uk-width-medium-1-3
                    .uk-grid
                        .uk-width-1-6
                            i.uk-icon-cog.uk-icon-large.uk-text-primary
                        .uk-width-5-6
                            h3.uk-h2 Надежность
                            p.uk-text-large
                                | Надежная конструкция и невероятная прочность
                                | благодаря качественным материалам
                .uk-width-medium-1-3
                    .uk-grid
                        .uk-width-1-6
                            i.uk-icon-smile-o.uk-icon-large.uk-text-primary
                        .uk-width-5-6
                            h3.uk-h2 Удобство
                            p.uk-text-large
                                | Комфортная скорость передвижения,
                                | удобство и простота управления
                .uk-width-medium-1-3
                    .uk-grid
                        .uk-width-1-6
                            i.uk-icon-suitcase.uk-icon-large.uk-text-primary
                        .uk-width-5-6
                            h3.uk-h2 Компактность
                            p.uk-text-large
                                | Занимает немного места, обеспечивает
                                | удобное хранение и транспортировку
                .uk-width-medium-1-3
                    .uk-grid
                        .uk-width-1-6
                            i.uk-icon-child.uk-icon-large.uk-text-primary
                        .uk-width-5-6
                            h3.uk-h2 Экологичность
                            p.uk-text-large
                                | Работает на электрической тяге, не
                                | загрязняет окружающую среду
                .uk-width-medium-1-3
                    .uk-grid
                        .uk-width-1-6
                            i.uk-icon-plug.uk-icon-large.uk-text-primary
                        .uk-width-5-6
                            h3.uk-h2 Быстрая зарядка
                            p.uk-text-large
                                | Время полной зарядки от двух до трех
                                | часов от любой розетки 220V
                .uk-width-medium-1-3
                    .uk-grid
                        .uk-width-1-6
                            i.uk-icon-eye.uk-icon-large.uk-text-primary
                        .uk-width-5-6
                            h3.uk-h2 Ходовые огни
                            p.uk-text-large
                                | Обеспечивают безопасное катание
                                | в темное время суток

            hr.uk-grid-divider
            //- First product unit
            .uk-grid.product_forscroll(data-uk-grid-margin)
                .uk-width-medium-1-2
                    ul#product1.bxslider
                        li
                            img(src="img/BD-S006/BD-S006-black.jpg", alt="")
                        li
                            img(src="img/BD-S006/BD-S006-gold.jpg", alt="")
                        li
                            img(src="img/BD-S006/BD-S006-red.jpg", alt="")
                        li
                            img(src="img/BD-S006/BD-S006-white.jpg", alt="")
                    .uk-grid(data-uk-grid-margin)
                        .uk-margin-small-top.uk-container-center
                            .bx-pager
                                a(href="javascript:void(0);", data-slide-index="0")
                                    img.product__img-thumb(src="img/BD-S006/BD-S006-black.jpg", alt="")
                                a(href="javascript:void(0);", data-slide-index="1")
                                    img.product__img-thumb(src="img/BD-S006/BD-S006-gold.jpg", alt="")
                                a(href="javascript:void(0);", data-slide-index="2")
                                    img.product__img-thumb(src="img/BD-S006/BD-S006-red.jpg", alt="")
                                a(href="javascript:void(0);", data-slide-index="3")
                                    img.product__img-thumb(src="img/BD-S006/BD-S006-white.jpg", alt="")
                            //- ul.uk-thumbnav
                            //-     li
                            //-         a(href='javascript:void(0);')
                            //-             img(src="img/BD-S006/BD-S006-thumb-black.jpg", alt="")
                            //-     li.uk-margin-small-left.uk-margin-small-right
                            //-         a(href='javascript:void(0);')
                            //-             img(src="img/BD-S006/BD-S006-thumb-white.jpg", alt="")
                                //- li.uk-margin-small-left.uk-margin-small-right
                                //-     a(href='javascript:void(0);')
                                //-         img(src="img/BD-S006/BD-S006-thumb-gold.jpg", alt="")
                                li
                                    a(href='javascript:void(0);')
                                        img(src="img/BD-S006/BD-S006-thumb-red.jpg", alt="")
                .uk-width-medium-1-2
                    h2.uk-text-bold Модель BD-S006
                    p.uk-text-large Цена 22 900 рублей
                    h3.uk-text-bold Технические характеристики гироскутера BD-S006
                    dl
                        dt.uk-margin-small-top Размеры:
                            dd Высота 178 мм, длина 584 мм, ширина 185 мм
                        dt.uk-margin-small-top Диаметр колес:
                            dd 6.5 дюймов
                        dt.uk-margin-small-top Вес:
                            dd 12 кг
                        dt.uk-margin-small-top Время зарядки:
                            dd 2 &ndash; 3 часа
                        dt.uk-margin-small-top Максимальная скорость:
                            dd 14 км/ч
                        dt.uk-margin-small-top Батарея:
                            dd Li&ndash;On Samsung
                        dt.uk-margin-small-top Цвет:
                            dd черный, белый, золото, красный
                    a.uk-button.uk-button-large.uk-button-primary(href="zakaz_bds006.html") Заказать

            hr.uk-grid-divider
            //- Second product unit
            .uk-grid(data-uk-grid-margin)
                .uk-width-medium-1-2
                    ul#product2.bxslider
                        li
                            img(src="img/BD-S006B/BD-S006B-blue.jpg", alt="")
                        li
                            img(src="img/BD-S006B/BD-S006B-blue2.jpg", alt="")
                    .uk-grid(data-uk-grid-margin)
                        .uk-margin-small-top.uk-container-center
                            .bx-pager
                                a(href="javascript:void(0);", data-slide-index="0")
                                    img.product__img-thumb(src="img/BD-S006B/BD-S006B-blue.jpg", alt="")
                                a(href="javascript:void(0);", data-slide-index="1")
                                    img.product__img-thumb(src="img/BD-S006B/BD-S006B-blue2.jpg", alt="")
                .uk-width-medium-1-2
                    h2.uk-text-bold Модель BD-S006B
                    p.uk-text-large Цена 24 900 рублей
                    h3.uk-text-bold Технические характеристики гироскутера BD-S006B
                    dl
                        dt.uk-margin-small-top Размеры:
                            dd Высота 186 мм, длина 600 мм, ширина 185 мм
                        dt.uk-margin-small-top Диаметр колес:
                            dd 6.5 дюймов
                        dt.uk-margin-small-top Вес:
                            dd 12 кг
                        dt.uk-margin-small-top Время зарядки:
                            dd 2 &ndash; 3 часа
                        dt.uk-margin-small-top Максимальная скорость:
                            dd 14 км/ч, Bluetooth
                        dt.uk-margin-small-top Батарея:
                            dd Li&ndash;On Samsung
                        dt.uk-margin-small-top Цвет:
                            dd синий+черный
                    a.uk-button.uk-button-large.uk-button-primary(href="zakaz_bds006b.html") Заказать

            //- hr.uk-grid-divider
            //- Third product unit
            //- .uk-grid(data-uk-grid-margin)
                .uk-width-medium-1-2
                    img(src='img/BD-S006/BD-S006-black.jpg' alt='Гироскутеры TeslaToys BD-S006' width='680' height='400')
                    .uk-grid(data-uk-grid-margin)
                        .uk-margin-small-top.uk-container-center
                            ul.uk-thumbnav
                                li
                                    a(href='javascript:void(0);')
                                        img(src="img/BD-S006/BD-S006-thumb-black.jpg", alt="")
                                li.uk-margin-small-left.uk-margin-small-right
                                    a(href='javascript:void(0);')
                                        img(src="img/BD-S006/BD-S006-thumb-white.jpg", alt="")
                                //- li.uk-margin-small-left.uk-margin-small-right
                                //-     a(href='javascript:void(0);')
                                //-         img(src="img/BD-S006/BD-S006-thumb-gold.jpg", alt="")
                                //- li
                                //-     a(href='javascript:void(0);')
                                //-         img(src="img/BD-S006/BD-S006-thumb-red.jpg", alt="")
                .uk-width-medium-1-2
                    h2.uk-text-bold Модель BD-S007
                    p.uk-text-large Цена 27 900 рублей
                    h3.uk-text-bold Технические характеристики гироскутера BD-S007
                    dl
                        dt.uk-margin-small-top Размеры:
                            dd Высота 178 мм, длина 584 мм, ширина 185 мм
                        dt.uk-margin-small-top Диаметр колес:
                            dd 6.5 дюймов
                        dt.uk-margin-small-top Вес:
                            dd 13 кг
                        dt.uk-margin-small-top Время зарядки:
                            dd 2 &ndash; 3 часа
                        dt.uk-margin-small-top Максимальная скорость:
                            dd 14 км/ч
                        dt.uk-margin-small-top Батарея:
                            dd Li&ndash;On Samsung
                        dt.uk-margin-small-top Цвет:
                            dd черный+серебро, черный+синий, черный+красный, черный+оранжевый
                    a.uk-button.uk-button-large.uk-button-primary(href="#modal_order_form" data-uk-modal) Заказать

            hr.uk-grid-divider
            //- Fourth product unit
            .uk-grid(data-uk-grid-margin)
                .uk-width-medium-1-2
                    ul#product4.bxslider
                        li
                            img(src="img/BD-S008/BD-S008.jpg", alt="")
                    .uk-grid(data-uk-grid-margin)
                        .uk-margin-small-top.uk-container-center
                            .bx-pager
                                a(href="javascript:void(0);", data-slide-index="0")
                                    img.product__img-thumb(src="img/BD-S008/BD-S008.jpg", alt="")
                .uk-width-medium-1-2
                    h2.uk-text-bold Модель BD-S008
                    p.uk-text-large Цена 26 900 рублей
                    h3.uk-text-bold Технические характеристики гироскутера BD-S008
                    dl
                        dt.uk-margin-small-top Размеры:
                            dd Высота 178 мм, длина 584 мм, ширина 230 мм
                        dt.uk-margin-small-top Диаметр колес:
                            dd 8 дюймов
                        dt.uk-margin-small-top Вес:
                            dd 12 кг
                        dt.uk-margin-small-top Время зарядки:
                            dd 2 &ndash; 3 часа
                        dt.uk-margin-small-top Максимальная скорость:
                            dd 15 км/ч, Bluetooth
                        dt.uk-margin-small-top Батарея:
                            dd Li&ndash;On Samsung
                        dt.uk-margin-small-top Цвет:
                            dd черный+красный
                    a.uk-button.uk-button-large.uk-button-primary(href="zakaz_bds008.html") Заказать

            hr.uk-grid-divider
            //- Fifth product unit
            .uk-grid(data-uk-grid-margin)
                .uk-width-medium-1-2
                    ul#product5.bxslider
                        li
                            img(src="img/BD-S010/BD-S010-black.jpg", alt="")
                        li
                            img(src="img/BD-S010/BD-S010-graffity.jpg", alt="")
                        li
                            img(src="img/BD-S010/BD-S010-red.jpg", alt="")
                    .uk-grid(data-uk-grid-margin)
                        .uk-margin-small-top.uk-container-center
                            .bx-pager
                                a(href="javascript:void(0);", data-slide-index="0")
                                    img.product__img-thumb(src="img/BD-S010/BD-S010-black.jpg", alt="")
                                a(href="javascript:void(0);", data-slide-index="1")
                                    img.product__img-thumb(src="img/BD-S010/BD-S010-graffity.jpg", alt="")
                                a(href="javascript:void(0);", data-slide-index="2")
                                    img.product__img-thumb(src="img/BD-S010/BD-S010-red.jpg", alt="")
                .uk-width-medium-1-2
                    h2.uk-text-bold Модель BD-S010
                    p.uk-text-large Цена 27 900 рублей
                    h3.uk-text-bold Технические характеристики гироскутера BD-S010
                    dl
                        dt.uk-margin-small-top Размеры:
                            dd Высота 286 мм, длина 630 мм, ширина 286 мм
                        dt.uk-margin-small-top Вес:
                            dd 14 кг
                        dt.uk-margin-small-top Время зарядки:
                            dd 2 &ndash; 3 часа
                        dt.uk-margin-small-top Максимальная скорость:
                            dd 15 км/ч, Bluetooth
                        dt.uk-margin-small-top Батарея:
                            dd Li&ndash;On Samsung
                        dt.uk-margin-small-top Цвет:
                            dd черный, красный, граффити
                    a.uk-button.uk-button-large.uk-button-primary(href="zakaz_bds010.html") Заказать

            //- hr.uk-grid-divider
            //- Sixth product unit
            //- .uk-grid(data-uk-grid-margin)
                .uk-width-medium-1-2
                    img(src='img/BD-S006/BD-S006-black.jpg' alt='Гироскутеры TeslaToys BD-S006' width='680' height='400')
                    .uk-grid(data-uk-grid-margin)
                        .uk-margin-small-top.uk-container-center
                            ul.uk-thumbnav
                                li
                                    a(href='javascript:void(0);')
                                        img(src="img/BD-S006/BD-S006-thumb-black.jpg", alt="")
                                li.uk-margin-small-left.uk-margin-small-right
                                    a(href='javascript:void(0);')
                                        img(src="img/BD-S006/BD-S006-thumb-white.jpg", alt="")
                                //- li.uk-margin-small-left.uk-margin-small-right
                                //-     a(href='javascript:void(0);')
                                //-         img(src="img/BD-S006/BD-S006-thumb-gold.jpg", alt="")
                                //- li
                                //-     a(href='javascript:void(0);')
                                //-         img(src="img/BD-S006/BD-S006-thumb-red.jpg", alt="")
                .uk-width-medium-1-2
                    h2.uk-text-bold Модель BD-S012
                    p.uk-text-large Цена 31 900 рублей
                    h3.uk-text-bold Технические характеристики гироскутера BD-S012
                    dl
                        dt.uk-margin-small-top Размеры:
                            dd Высота 282 мм, длина 820 мм, ширина 245 мм
                        dt.uk-margin-small-top Вес:
                            dd 12 кг
                        dt.uk-margin-small-top Время зарядки:
                            dd 2 &ndash; 3 часа
                        dt.uk-margin-small-top Максимальная скорость:
                            dd 20 км/ч, Bluetooth
                        dt.uk-margin-small-top Батарея:
                            dd Li&ndash;On Samsung
                        dt.uk-margin-small-top Цвет:
                            dd белый+синий
                    a.uk-button.uk-button-large.uk-button-primary(href="#modal_order_form" data-uk-modal) Заказать

            .delivery.uk-margin-large-top
                h2.uk-h1.uk-text-center Доставка и оплата
                p Доставка заказов осуществляется в день заказа или на следующий день после его оформления.
                p Доставка по Москве в пределах МКАД, а также по Истринскому и Красногорскому районам - бесплатно.
                p Перед доставкой каждый гироскутер проходит предварительную проверку и настройку, поэтому Вы получаете готовое к эксплуатации изделие. Доставка осуществляется ежедневно, точное время доставки следует уточнить у менеджера.
                h3.uk-h2 Способы оплаты
                ol
                    li Наличным расчетом курьеру при получении товара
                    li При оформлении покупки он-лайн &#8212; безналичным расчетом с помощью системы Яндекс.Деньги

            .map
                .map__title Наш адрес: Новорижское шоссе, 26-й километр, БЦ “Riga Land”, кБ, 2-й подъезд, 1-й этаж
                script(type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=uTjg9tpTdSEm4qMQIRrRn9zikR6YWwHS&width=100%&height=400&lang=ru_RU&sourceType=constructor&scroll=true")
                //- img(src='img/map.jpg', alt='' width='100%')

            .footer.uk-grid
                .uk-width-medium-1-3
                    .footer__copyright.uk-text-center-medium
                        | &#xa9; 2016
                        strong &#160;teslatoys.ru&#160;
                        | Все права защищены
                .uk-width-medium-1-3
                    .footer__company.uk-text-center TeslaToys
                .uk-width-medium-1-3
                    .footer__promotext.uk-text-right.uk-text-center-medium Лучшие гироскутеры по доступной цене

        // Yandex.Metrika counter
        script(type='text/javascript').
            (function (d, w, c) {
            (w[c] = w[c] || []).push(function() {
            try {
            w.yaCounter37320600 = new Ya.Metrika({
            id:37320600,
            clickmap:true,
            trackLinks:true,
            accurateTrackBounce:true
            });
            } catch(e) { }
            });
            var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
            s.type = "text/javascript";
            s.async = true;
            s.src = "https://mc.yandex.ru/metrika/watch.js";
            if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
            } else { f(); }
            })(document, window, "yandex_metrika_callbacks");
        noscript
            div
                img(src='https://mc.yandex.ru/watch/37320600', style='position:absolute; left:-9999px;', alt='')
        // /Yandex.Metrika counter

        script(src="libs/jquery/jquery.min.js")
        script(src="libs/uikit/js_uikit/uikit.min.js")
        script(src="libs/maskedinput/jquery.maskedinput.min.js")
        script(src="libs/bxslider/bxslider.js")
        script(src="js/app.js")