-var pageTitle = "Гироскутеры TeslaToys заказать доставка"

doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        //- meta(name='yandex-verification' content='672bbf7ed8b0d929')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        meta(name='description' content='Заказать в кафе Сиеста пицца Нахабино доставка еды заказать')
        title= pageTitle
        link(rel="stylesheet" href="libs/uikit/uikit.css")
        link(rel="stylesheet" href="css/style.css")
        //[if lt IE 9]>
            <script src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js'></script> <![endif]
    body
        .uk-grid(data-uk-grid-margin)
            .uk-width-1-1
                img(src='img/top.jpg' alt='Гироскутеры TeslaToys' width='100%')
        .uk-container.uk-container-center.uk-margin-top.uk-margin-large-bottom
            .uk-grid(data-uk-grid-margin)
                .uk-width-1-1.uk-text-center
                    h1.uk-heading-large Здесь можно заказать гироскутеры TeslaToys
                    p.uk-text-large Некоторый текст про гироскутеры
            hr.uk-grid-divider
            .uk-grid(data-uk-grid-margin)
                .uk-width-medium-1-2
                    img(src='img/BD-S006/BD-S006 black.jpg' alt='Гироскутеры TeslaToys BD-S006' width='680' height='400')
                    .uk-grid(data-uk-grid-margin)
                        .uk-margin-small-top.uk-container-center
                            ul.uk-thumbnav
                                li
                                    a(href='javascript:void(0);')
                                        img(src="img/BD-S006/BD-S006--thumb_01.jpg", alt="")
                                li.uk-margin-small-left.uk-margin-small-right
                                    a(href='javascript:void(0);')
                                        img(src="img/BD-S006/BD-S006--thumb_02.jpg", alt="")
                                li
                                    a(href='javascript:void(0);')
                                        img(src="img/BD-S006/BD-S006--thumb_03.jpg", alt="")
                .uk-width-medium-1-2
                    h2 Модель BD-S006
                    p Цена 22 900 рублей
                    h3 Технические характеристики гироскутера BD-S006
                    //- p Размеры: Высота 178, Длина 584, Ширина 185.
                    //- p Диаметр колес: 6.5 дюймов.
                    //- p Вес: 12 кг.
                    //- p Время зарядки: 2­3 часа.
                    //- p Максимальная скорость: 14 км/ч.
                    //- p Батарея: Li­On Samsung.
                    //- p Цвет: черный, белый, золото, красный.
                    dl
                        dt.uk-margin-small-top Размеры:
                            dd Высота 178 см, длина 584 см, ширина 185 см
                        dt.uk-margin-small-top Диаметр колес:
                            dd 6.5 дюймов
                        dt.uk-margin-small-top Вес:
                            dd 12 кг
                        dt.uk-margin-small-top Время зарядки:
                            dd 2 &ndash; 3 часа
                        dt.uk-margin-small-top Максимальная скорость:
                            dd 14 км/ч
                        dt.uk-margin-small-top Батарея:
                            dd Li&ndash;On Samsung
                        dt.uk-margin-small-top Цвет:
                            dd черный, белый, золото, красный
                    a.uk-button.uk-button-primary(href="#") Заказать
            hr.uk-grid-divider
            .uk-grid(data-uk-grid-margin)
                .uk-width-medium-1-2
                    img(src='img/BD-S006B/BD-S006B.jpg' alt='Гироскутеры TeslaToys BD-S006B' width='660' height='400')
                .uk-width-medium-1-2
                    h1 Модель BD-S006B
                    p Краткая характеристика гироскутера BD-S006B
                    p Цена 20 000
                    a.uk-button.uk-button-primary(href="#") Заказать

        script(src="libs/jquery/jquery.js")
        script(src="libs/uikit/js_uikit/uikit.min.js")