-var pageTitle = "Спасибо за оставленную заявку TeslaToys"

doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        //- meta(name='yandex-verification' content='672bbf7ed8b0d929')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        meta(name='description' content='Teslatoys Заказать гироскутеры с доставкой')
        title= pageTitle
        link(rel="stylesheet" href="libs/uikit/uikit.css")
        link(rel="stylesheet" href="css/style.css")
        //[if lt IE 9]>
            <script src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js'></script> <![endif]
    body
        .uk-container.uk-container-center
            .uk-grid(data-uk-grid-margin)
                .uk-width-1-1.uk-text-center
                    h1 Спасибо за оставленную заявку.
                    h2.uk-text-middle Наши менеджеры свяжутся с Вами в ближайшее время.

        script(src="libs/jquery/jquery.min.js")
        script(src="libs/uikit/js_uikit/uikit.min.js")
        script(src="js/app.js")