-var pageTitle = "Спасибо за оставленную заявку TeslaToys"

doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name='yandex-verification' content='6efe569acb95401e')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        meta(name='description' content='Teslatoys Заказать гироскутеры с доставкой')
        title= pageTitle
        link(rel="stylesheet" href="libs/uikit/uikit.css")
        link(rel="stylesheet" href="css/style.css")
        //[if lt IE 9]>
            <script src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js'></script> <![endif]
    body
        .thanks__text.uk-text-center
            h1 Спасибо за оставленную заявку.
            h2 Наши менеджеры свяжутся с Вами в ближайшее время.

        // Yandex.Metrika counter
        script(type='text/javascript').
          (function (d, w, c) {
          (w[c] = w[c] || []).push(function() {
          try {
          w.yaCounter37320600 = new Ya.Metrika({
          id:37320600,
          clickmap:true,
          trackLinks:true,
          accurateTrackBounce:true
          });
          } catch(e) { }
          });
          var n = d.getElementsByTagName("script")[0],
          s = d.createElement("script"),
          f = function () { n.parentNode.insertBefore(s, n); };
          s.type = "text/javascript";
          s.async = true;
          s.src = "https://mc.yandex.ru/metrika/watch.js";
          if (w.opera == "[object Opera]") {
          d.addEventListener("DOMContentLoaded", f, false);
          } else { f(); }
          })(document, window, "yandex_metrika_callbacks");
        noscript
          div
            img(src='https://mc.yandex.ru/watch/37320600', style='position:absolute; left:-9999px;', alt='')
        // /Yandex.Metrika counter

        script(src="libs/jquery/jquery.min.js")
        script(src="libs/uikit/js_uikit/uikit.min.js")
        script(src="js/app.js")