-var pageTitle = "Заказать гироскутер Smart 6.5&#8243; (BD-S006)"

doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name='yandex-verification' content='6efe569acb95401e')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        meta(name='description' content='Teslatoys Заказать гироскутеры с доставкой, модель BD-S006')
        title= pageTitle
        link(rel="stylesheet" href="libs/uikit/uikit.css")
        link(rel="stylesheet" href="css/style.css")
        //[if lt IE 9]>
            <script src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js'></script> <![endif]
    body

        .uk-width-medium-1-1.uk-width-small-1-1
            .s__form__zakaz
                .s__form__zakaz-title Заказать гироскутер Smart 6.5&#8243; (BD-S006)
                //- .s__form__zakaz-subtitle Выберите способ оплаты
                form.form__zakaz(action="")
                    .uk-form.uk-form-stacked
                        fieldset.uk-text-center
                            .form__zakaz-title Оплатить курьеру при получении
                            .uk-form-row
                                label.form__zakaz-label.uk-text-left(for='name_form_zakaz') Введите Ваше имя
                                input.form__zakaz-input.uk-form-large.uk-width-medium-1-1.uk-width-small-1-1#name_form_zakaz(type='text' name='name' placeholder='Ваше имя')
                            .uk-form-row
                                label.form__zakaz-label.uk-text-left(for='phone_form_zakaz') Введите Ваш телефон
                                input.form__zakaz-input.uk-form-large.uk-width-medium-1-1.uk-width-small-1-1#phone_form_zakaz.phonemask(type='text' name='phone' placeholder='Ваш телефон')
                            .uk-form-row
                                input.uk-button.uk-button-large.uk-form-width-medium.uk-button-primary(type="submit" value="Оставить заявку")
                //- .ya__money__frame
                    //- .form__zakaz-title 2. Оплатить электронным переводом
                    //- iframe(frameborder="0" allowtransparency="true" scrolling="no" src="https://money.yandex.ru/embed/shop.xml?account=410014167571354&quickpay=shop&payment-type-choice=on&writer=seller&targets=%D0%9E%D0%BF%D0%BB%D0%B0%D1%82%D0%B0+%D0%B3%D0%B8%D1%80%D0%BE%D1%81%D0%BA%D1%83%D1%82%D0%B5%D1%80%D0%B0+BD-S006&default-sum=22900&button-text=01&fio=on&mail=on&phone=on&address=on&successURL=spasibo.html" width="100%" height="198")
                //- .ya__money__frame
                    //- form(action='https://demomoney.yandex.ru/eshop.xml', method='post')
                    //-     // Обязательные поля
                    //-     input(name='shopId', value='151', type='hidden')
                    //-     input(name='scid', value='363', type='hidden')
                    //-     input(name='customerNumber', value='100500')
                    //-     input(name='sum', value='100')
                    //-     | Способ оплаты:
                    //-     br
                    //-     input(name='paymentType', value='PC', type='radio')
                    //-     | Оплата из кошелька в Яндекс.Деньгах
                    //-     br
                    //-     input(name='paymentType', value='AC', type='radio')
                    //-     | Оплата с произвольной банковской карты
                    //-     br
                    //-     input(name='paymentType', value='GP', type='radio')
                    //-     | Оплата наличными через кассы и терминалы
                    //-     br
                    //-     br
                    //-     input(type='submit', value='Заплатить')
                .ya__money__frame
                    .form__zakaz-title 2. Оплатить электронным переводом
                    form(method='POST', action='https://money.yandex.ru/eshop.xml')
                        input(type='hidden', name='shopId', value='впишите-сюда-значение-своего-shopId')
                        input(type='hidden', name='scid', value='впишите-сюда-значение-своего-scid')

                        label.form__zakaz-label.uk-text-left(for='ya_form_clientid') Идентификатор клиента
                        input.form__zakaz-input.uk-form-large.uk-width-medium-1-1.uk-width-small-1-1#ya_form_clientid(type='hidden', name='customerNumber', value='BD-S006')

                        label.form__zakaz-label.uk-text-left(for='ya_form_summa') Сумма (руб.)
                        input.form__zakaz-input.uk-form-large.uk-width-medium-1-1.uk-width-small-1-1#ya_form_summa(type='text', name='sum', value='22900', disabled)

                        label.form__zakaz-label.uk-text-left(for='ya_form_phone') Введите Ваш телефон
                        input.form__zakaz-input.uk-form-large.uk-width-medium-1-1.uk-width-small-1-1#ya_form_phone.phonemask(type='text', name='cps_phone', placeholder='Ваш телефон')

                        label.form__zakaz-label.uk-text-left(for='ya_form_name') Введите Ваше имя
                        input.form__zakaz-input.uk-form-large.uk-width-medium-1-1.uk-width-small-1-1#ya_form_name(type='text', name='custName', placeholder='Ваше имя')

                        label.form__zakaz-label.uk-text-left(for='ya_form_mail') Введите Ваш email
                        input.form__zakaz-input.uk-form-large.uk-width-medium-1-1.uk-width-small-1-1#ya_form_mail(type='text', name='custEmail', placeholder='Ваш email')

                        .form__zakaz-label Способ оплаты:
                        label.lbl__paytype.lbl__paytype-yamoney(title='Со счета в Яндекс.Деньгах')
                            input(name='paymentType', value='PC', type='radio', checked='checked')
                        label.lbl__paytype.lbl__paytype-card(title='С банковской карты')
                            input(name='paymentType', value='AC', type='radio')
                        label.lbl__paytype.lbl__paytype-webmoney(title='Со счета WebMoney')
                            input(name='paymentType', value='WM', type='radio')
                        label.lbl__paytype.lbl__paytype-qiwi(title='Оплата со счета Qiwi')
                            input(name='paymentType', value='WQ', type='radio')
                        label.lbl__paytype.lbl__paytype-sberbank(title='Оплата через Сбербанк Онлайн')
                            input(name='paymentType', value='SB', type='radio')
                        label.lbl__paytype.lbl__paytype-alfabank(title='Оплата через Альфа-Клик')
                            input(name='paymentType', value='AB', type='radio')
                        label.lbl__paytype.lbl__paytype-psbank(title='Оплата со счета в Промсвязьбанке')
                            input(name='paymentType', value='PB', type='radio')
                        label.lbl__paytype.lbl__paytype-kuppiru(title='Оплата с помощью Куппи.ру')
                            input(name='paymentType', value='QP', type='radio')
                        br
                        br
                        .uk-text-center
                            input.uk-button.uk-button-large.uk-form-width-medium.uk-button-primary(type='submit', value='Оплатить')

        script(src="libs/jquery/jquery.min.js")
        script(src="libs/uikit/js_uikit/uikit.min.js")
        script(src="libs/maskedinput/jquery.maskedinput.min.js")
        script(src="js/form_valid.js")

        // Yandex.Metrika counter
        script(type='text/javascript').
            (function (d, w, c) {
            (w[c] = w[c] || []).push(function() {
            try {
            w.yaCounter37320600 = new Ya.Metrika({
            id:37320600,
            clickmap:true,
            trackLinks:true,
            accurateTrackBounce:true
            });
            } catch(e) { }
            });
            var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
            s.type = "text/javascript";
            s.async = true;
            s.src = "https://mc.yandex.ru/metrika/watch.js";
            if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
            } else { f(); }
            })(document, window, "yandex_metrika_callbacks");
        noscript
            div
                img(src='https://mc.yandex.ru/watch/37320600', style='position:absolute; left:-9999px;', alt='')
        // /Yandex.Metrika counter